{% extends 'allstars/base.html' %}

{% block content %}

<h2>About Basketball All-Stars</h2>

<p>This Django site is built on a MySQL database called "allstars" containing records of people and teams associated with American professional basketball leagues from 1937 to 2011. In addition to well-known players and teams from the NBA, the database also contains player, team, and all-star records for more obscure leagues, such as the ABA.</p>

The dataset used for this project can be found on Kaggle <a href="https://www.kaggle.com/open-source-sports/mens-professional-basketball">here</a>.

{% endblock content %}