{% extends 'allstars/base.html' %}


{% block content %}

<article>
  <header>
    <div class="row">
      <div class="col-sm-11">
        <h2>Professional Basketball - All-Stars List</h2>
      </div>
    </div>
  </header>

  <p> Select an All-Star player to get a list of years they were active All-Stars. Each year will provide a breakdown of their All-Star game stats.</p>

  {% include 'allstars/pagination.html' %}

  {% if all_stars_list %}
  <ul>

    {% for player in all_stars_list %} 

    <li><a href="{% url 'all_star_detail' player.person_record__person_record_id %}">{{ player.person_record__first_name }} {{ player.person_record__last_name }}</a></li>
    
    {% endfor %}


  </ul>
  {% else %}
  <p>No players are available to view.</p>
  {% endif %}

  <p>page count: {{ all_stars_list.count }}</p>
</article>

{% endblock content %}
