{% extends 'allstars/base.html' %}

   {% block content %}
     <header>
       <div class="row">
         <div class="col-sm-10">
          <h1> <u>All-Star Record:</u></h1>
          <br>
           <h2>{{ person_list.first_name | safe}} {{ person_list.last_name | safe }}</h2>
         </div>
        </div>
     </header>
     <p>

            <div class="row">
              <div class="col-sm-2">
                <p>Regular Season Stats:</p>
              </div>
              <div class="col-sm-10">
                <p><a href="{% url 'person_detail' person_list.person_record_id %}">Person Record Page</a></p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2">
                <p>Years on All-Star Team:</p>
              </div>
              <div class="col-sm-10">
                <p> {{ all_star_list.count }}
              </div>
            </div>


    </p>

    <h4>Stats by Year</h4>

       {% for item in all_star_list %}

      <p>
        {% if item.year %}
        <div class="row">
          <div class="col-sm-2">
            <p>Year:</p>
          </div>
          <div class="col-sm-10">
            <p><b>{{ item.year }}</b></p>
          </div>
        </div>
        {% endif %}

        {% if item.conference %}
        <div class="row">
          <div class="col-sm-2">
            <p>Conference:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ item.conference }}</p>
          </div>
        </div>
        {% endif %}

        {% if item.league.league_name %}
        <div class="row">
          <div class="col-sm-2">
            <p>League:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ item.league.league_name }}</p>
          </div>
        </div>
        {% endif %}

        {% if item.games_played %}
        <div class="row">
          <div class="col-sm-2">
            <p>Games Played:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ item.games_played }}</p>
          </div>
        </div>
        {% endif %}

        {% if item.minutes %}
        <div class="row">
          <div class="col-sm-2">
            <p>Minutes Played:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ item.minutes }}</p>
          </div>
        </div>
        {% endif %}

        {% if item.points %}
        <div class="row">
          <div class="col-sm-2">
            <p>Points:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ item.points }}</p>
          </div>
        </div>
        {% endif %}

        {% if item.rebounds %}
        <div class="row">
          <div class="col-sm-2">
            <p>Rebounds: </p>
          </div>
          <div class="col-sm-10">
            <p>{{ item.rebounds }}</p>
          </div>
        </div>
        {% endif %}

        {% if item.assists %}
        <div class="row">
          <div class="col-sm-2">
            <p>Assists:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ item.assists }}</p>
          </div>
        </div>
        {% endif %}

        {% if item.steals %}
        <div class="row">
          <div class="col-sm-2">
            <p>Steals:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ item.steals }}</p>
          </div>
        </div>
        {% endif %}

        {% if item.blocks %}
        <div class="row">
          <div class="col-sm-2">
            <p>Blocks:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ item.blocks }}</p>
          </div>
        </div>
        {% endif %}

        {% if item.turnovers %}
        <div class="row">
          <div class="col-sm-2">
            <p>Turnovers:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ item.turnovers }}</p>
          </div>
        </div>
        {% endif %}

        {% if item.ft_attempted %}
        <div class="row">
          <div class="col-sm-2">
            <p>Free Throws Attempted:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ item.ft_attempted }}</p>
          </div>
        </div>
        {% endif %}

        {% if item.ft_made %}
        <div class="row">
          <div class="col-sm-2">
            <p>Free Throws Made:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ item.ft_made }}</p>
          </div>
        </div>
        {% endif %}

        {% if item.three_attempted %}
        <div class="row">
          <div class="col-sm-2">
            <p>Three-Points Attempted</p>
          </div>
          <div class="col-sm-10">
            <p>{{ item.three_attempted }}</p>
          </div>
        </div>
        {% endif %}

        {% if item.three_made %}
        <div class="row">
          <div class="col-sm-2">
            <p>Three-Points Made</p>
          </div>
          <div class="col-sm-10">
            <p>{{ item.three_made }}</p>
          </div>
        </div>
        {% endif %}




      {% endfor %}
     




    {% endblock content %}