{% extends 'allstars/base.html' %}

{% block content %}

<h2>Basketball All-Stars</h2>

<p>Select a nav option above to explore the database:</p>
<ul>
	<li><b>"About":</b> A brief explanation of what data the site contains and the data source.</li>
	<li><b>"All-Stars"</b>: A list view of all players who have been designated 'all-stars' in their respective league(s). Clicking on a name will show a detail view profile for the player containing stats for years they were active.</li>
	<li><b>"Team List":</b> <b>***NEED AUTHENTICATION TO ACCESS***</b> A list view of teams for all professional basketball leagues. Each team has their league next to it, and clicking on a team name will show a detail view for the team with their W/L record for each year they were active.</li>
	<li><b>"Person Record List": </b>A list view of all players and coaches associated with professional basketball leagues. Clicking on a name will show a detail view of the person with records of their years as a player and/or coach, as applicable.</li>
	<li><b>"Person Record Filter":</b> A set of Crispy Forms filters is provided on the left of the page to narrow down person records that match the specified filtering criteria. Matching records will show the first and last name of a person as a link to a detail view of the person with records of their years as a player and/or coach, as applicable.</li>
	<li><b>"Login":</b> Log in as an authenticated user or with a Google profile to access the "Team List" page and the ability to Add/Update/Remove person records.</li>
</ul>



{% endblock content%}