{% extends 'allstars/base.html' %}

   {% block content %}
     <header>
       <div class="row">
         <div class="col-sm-10">
          <h2><u> Person Record (Regular Season):</u></h2><br>
           <h3>{% if person_record_list.first_name %}
           {{ person_record_list.first_name }} 
            {% endif %}
         {{ person_record_list.last_name }} 
       {% if person_record_list.name_suffix %}
       {{ person_record_list.name_suffix }} 
     {% endif %}</h3>

         </div>
         <div class="col-xs-1">
           {% if user.is_authenticated %}
             <a class="btn btn-outline-secondary" href="{% url 'person_update' person_record_list.person_record_id %}">edit</a>
           {% endif %}
         </div>
         <div class="col-xs-1">
           {% if user.is_authenticated %}
             &nbsp;<a class="btn btn-outline-warning" href="{% url 'person_delete' person_record_list.person_record_id %}">delete</a>
           {% endif %}
         </div>
        </div>
     </header>

      {% if person_record_list %}


      <p>

        {% if person_record_list.person_id_long %}
        <div class="row">
          <div class="col-sm-2">
            <p>Person ID:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ person_record_list.person_id_long }}</p>
          </div>
        </div>
        {% endif %}

        {% if person_record_list.middle_name %}
        <div class="row">
          <div class="col-sm-2">
            <p>Middle Name:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ person_record_list.middle_name }}</p>
          </div>
        </div>
        {% endif %}

        {% if person_record_list.full_given_name %}
        <div class="row">
          <div class="col-sm-2">
            <p>Full Given Name:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ person_record_list.full_given_name }}</p>
          </div>
        </div>
        {% endif %}

        {% if person_record_list.nickname %}
        <div class="row">
          <div class="col-sm-2">
            <p>Nickname:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ person_record_list.nickname }}</p>
          </div>
        </div>
        {% endif %}

        {% if person_record_list.birthdate != '0000-00-00' %}
        <div class="row">
          <div class="col-sm-2">
            <p>Birthdate:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ person_record_list.birthdate }}</p>
          </div>
        </div>
        {% endif %}

        {% if person_record_list.pos %}
        <div class="row">
          <div class="col-sm-2">
            <p>Position:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ person_record_list.pos }}</p>
          </div>
        </div>
        {% endif %}

        {% if person_record_list.height %}
        <div class="row">
          <div class="col-sm-2">
            <p>Height(in):</p>
          </div>
          <div class="col-sm-10">
            <p>{{ person_record_list.height }}</p>
          </div>
        </div>
        {% endif %}

        {% if person_record_list.weight %}
        <div class="row">
          <div class="col-sm-2">
            <p>Weight(lb):</p>
          </div>
          <div class="col-sm-10">
            <p>{{ person_record_list.weight }}</p>
          </div>
        </div>
        {% endif %}

        {% if person_record_list.college %}
        <div class="row">
          <div class="col-sm-2">
            <p>College:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ person_record_list.college }}</p>
          </div>
        </div>
        {% endif %}

        {% if person_record_list.birth_city %}
        <div class="row">
          <div class="col-sm-2">
            <p>Birth City:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ person_record_list.birth_city }}</p>
          </div>
        </div>
        {% endif %}

        {% if person_record_list.birth_state %}
        <div class="row">
          <div class="col-sm-2">
            <p>Birth State:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ person_record_list.birth_state }}</p>
          </div>
        </div>
        {% endif %}

        {% if person_record_list.birth_country %}
        <div class="row">
          <div class="col-sm-2">
            <p>Birth Country:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ person_record_list.birth_country }}</p>
          </div>
        </div>
        {% endif %}

        {% if person_record_list.high_school %}
        <div class="row">
          <div class="col-sm-2">
            <p>High School:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ person_record_list.high_school }}</p>
          </div>
        </div>
        {% endif %}

        {% if person_record_list.hs_city %}
        <div class="row">
          <div class="col-sm-2">
            <p>High School City:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ person_record_list.hs_city }}</p>
          </div>
        </div>
        {% endif %}

        {% if person_record_list.hs_state %}
        <div class="row">
          <div class="col-sm-2">
            <p>High School State:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ person_record_list.hs_state }}</p>
          </div>
        </div>
        {% endif %}

        {% if person_record_list.hs_country %}
        <div class="row">
          <div class="col-sm-2">
            <p>High School Country:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ person_record_list.hs_country }}</p>
          </div>
        </div>
        {% endif %}


        {% if person_record_list.death_date != '0000-00-00' %}
        <div class="row">
          <div class="col-sm-2">
            <p>Death Date:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ person_record_list.death_date }}</p>
          </div>
        </div>
        {% endif %}

        {% if person_record_list.race %}
        <div class="row">
          <div class="col-sm-2">
            <p>Race:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ person_record_list.race }}</p>
          </div>
        </div>
        {% endif %}
       
      <br>
      {% endif %}

      {% if team_align_list %}

      <h4>Player Stats: ({{ team_align_list.count }} years)</h4>
      <p>
        {% for entry in team_align_list %}

        {% if entry.year %}
        <p>
        <div class="row">
          <div class="col-sm-2">
            <p>Year:</p>
          </div>
          <div class="col-sm-10">
            <p><b>{{ entry.year }}</b></p>
          </div>
        </div>
        {% endif %}

        {% if entry.stint %}
        <div class="row">
          <div class="col-sm-2">
            <p>Stint:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ entry.stint }}</p>
          </div>
        </div>
        {% endif %}

        {% if entry.team__name %}
        <div class="row">
          <div class="col-sm-2">
            <p>Team:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ entry.team__name }}</p>
          </div>
        </div>
        {% endif %}

        {% if entry.league__league_abbrev %}
        <div class="row">
          <div class="col-sm-2">
            <p>League:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ entry.league__league_abbrev }}</p>
          </div>
        </div>
        {% endif %}

        {% if entry.games_played %}
        <div class="row">
          <div class="col-sm-2">
            <p>Games Played:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ entry.games_played }}</p>
          </div>
        </div>
        {% endif %}

        {% if entry.minutes %}
        <div class="row">
          <div class="col-sm-2">
            <p>Minutes:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ entry.minutes }}</p>
          </div>
        </div>
        {% endif %}

        {% if entry.points %}
        <div class="row">
          <div class="col-sm-2">
            <p>Points:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ entry.points }}</p>
          </div>
        </div>
        {% endif %}

        {% if entry.assists%}
        <div class="row">
          <div class="col-sm-2">
            <p>Assists: </p>
          </div>
          <div class="col-sm-10">
            <p>{{ entry.assists }}</p>
          </div>
        </div>
        {% endif %}

        {% endfor %}
      </p>
      {% endif %}
    </p>

      {% if coach_list %}

      <h4>Coach Stats: ({{ coach_list.count }} years)</h4>
      <p>
      {% for entry in coach_list %}
          <p>

        {% if entry.year %}
        <div class="row">
          <div class="col-sm-2">
            <p>Year:</p>
          </div>
          <div class="col-sm-10">
            <p><b>{{ entry.year }}</b></p>
          </div>
        </div>
        {% endif %}

        {% if entry.team__name %}
        <div class="row">
          <div class="col-sm-2">
            <p>Team:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ entry.team__name }} ({{ entry.league__league_abbrev }})</p>
          </div>
        </div>
        {% endif %}

        {% if entry.won %}
        <div class="row">
          <div class="col-sm-2">
            <p>Won:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ entry.won }}</p>
          </div>
        </div>
        {% endif %}

        {% if entry.lost %}
        <div class="row">
          <div class="col-sm-2">
            <p>Lost: </p>
          </div>
          <div class="col-sm-10">
            <p>{{ entry.lost }}</p>
          </div>
        </div>
        {% endif %}

        {% endfor %}
      </p>
      {% endif %}
    </p>

{% endblock content %}