{% extends 'allstars/base.html' %}


{% block content %}

<article>
  <header>
    <div class="row">
      <div class="col-sm-9">
        <h2>Professional Basketball - Person Record List</h2>
      </div>
      <div class="col-sm-2">
      {% if user.is_authenticated %}
        <a class="btn btn-outline-secondary" href="{% url 'person_new' %}">New Person Record</a>
      {% endif %}
      </div>
    </div>
  </header>

  <p> Select a person to get a profile with personal information, stats as a player (if applicable), and/or stats as a coach (if applicable). Stats as either a player or coach are listed below a person's personal information, and encompass play within a regular season.</p>

  {% include 'allstars/pagination.html' %}

  {% if person_list %}
  <ul>

    {% for person in person_list %} 

    <li><a href="{% url 'person_detail' person.person_record_id %}">{{ person.first_name }} {{ person.last_name }}</a></li>
    
    {% endfor %}


  </ul>
  {% else %}
  <p>No players are available to view.</p>
  {% endif %}

  <p>page count: {{ person_list.count }}</p>
</article>

{% endblock content %}
