{% extends 'allstars/base.html' %}

   {% block content %}
     <header>
       <div class="row">
         <div class="col-sm-10">
          <h1><u> Person Record (Regular Season):</u></h1><br>
           <h2>{{ person_record_list.first_name }} {{ person_record_list.last_name }}</h2>
         </div>
         <div class="col-xs-1">
           {% if user.is_authenticated %}
             <a class="btn btn-outline-secondary" href="{% url 'person_update' person_record_list.person_record_id %}">edit</a>
           {% endif %}
         </div>
         <div class="col-xs-1">
           {% if user.is_authenticated %}
             &nbsp;<a class="btn btn-outline-warning" href="{% url 'person_delete' person_record_list.person_record_id %}">delete</a>
           {% endif %}
         </div>
        </div>
     </header>

      {% if person_record_list %}
      <p>
        <div class="row">
          <div class="col-sm-2">
            <p>Position:</p>
          </div>
          <div class="col-sm-10">
            <p><b>{{ person_record_list.pos }}</b></p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <p>Height:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ person_record_list.height }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <p>Weight:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ person_record_list.weight }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <p>College:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ person_record_list.college }}</p>
          </div>
        </div>
       
      <br>
      {% endif %}

      {% if team_align_list %}

      <h4>Player Stats: ({{ team_align_list.count }} years)</h4>
      <p>
        {% for entry in team_align_list %}
        <p>
        <div class="row">
          <div class="col-sm-2">
            <p>Year:</p>
          </div>
          <div class="col-sm-10">
            <p><b>{{ entry.year }}</b></p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <p>Stint:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ entry.stint }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <p>Team:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ entry.team__name }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <p>League:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ entry.league__league_abbrev }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <p>Games Played:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ entry.games_played }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <p>Minutes:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ entry.minutes }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <p>Points:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ entry.points }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <p>Assists: </p>
          </div>
          <div class="col-sm-10">
            <p>{{ entry.assists }}</p>
          </div>
        </div>
        {% endfor %}
      </p>
      {% endif %}
    </p>

      {% if coach_list %}

      <h4>Coach Stats: ({{ coach_list.count }} years)</h4>
      <p>
      {% for entry in coach_list %}
          <p>
        <div class="row">
          <div class="col-sm-2">
            <p>Year:</p>
          </div>
          <div class="col-sm-10">
            <p><b>{{ entry.year }}</b></p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <p>Team:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ entry.team__name }} ({{ entry.league__league_abbrev }})</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <p>Won:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ entry.won }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <p>Lost: </p>
          </div>
          <div class="col-sm-10">
            <p>{{ entry.lost }}</p>
          </div>
        </div>
        {% endfor %}
      </p>
      {% endif %}
    </p>

{% endblock content %}