{% extends 'allstars/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

  <header>
    <div class="row">
      <div class="col-sm-11">
        <h2>Basketball Person Records</h2>
      </div>
      <div class="col-sm-1">
        {% if user.is_authenticated %}
        <a class="btn btn-outline-secondary" href="{% url 'person_new' %}">New Person Record</a>
        {% endif %}
      </div>
    </div>
  </header>

  <div class="row">
    <div class="col-sm-3">
      <div class="px-2 py-2" style="border:1px solid #8E8D8A;">
        <form action="" method="get">
          {{ filter.form|crispy }}
          <!-- {{ filter.form.as_p }} -->
          <button type="submit" class="btn btn-outline-primary">filter</button>
        </form>
      </div>
    </div>
    <div class="col-sm-9">

      {% include 'allstars/pagination.html' %}

      {% for person in person_record_list %}
        <h4><a href="{% url 'person_detail' person.person_record_id %}">{{ person.first_name }} {{ person.last_name }}</a></h4>

    {% empty %}
      Select one or more filters relevant to your search and then click "filter".
    {% endfor %}


    </div>
  </div>
{% endblock content %}
