{% extends 'allstars/base.html' %}


{% block content %}

<article>
  <header>
    <div class="row">
      <div class="col-sm-11">
        <h2>Basketball All Stars</h2>
      </div>
    </div>
  </header>

  <p> Select an All-Star player to get a list of years they were active All-Stars. Each year will provide a breakdown of their All-Star game stats.</p>

  {% include '/Users/beefbeverly/Documents/GitHub/SI664-Final-Project-Mens-Basketball/allstars/allstars/templates/allstars/pagination.html' %} 

  {% if team_list %}
  <ul>

    {% for team in team_list %} 

    <li><a href="{% url 'team_detail' team.team_id %}">{{ team.name }} ({{ team.league__league_abbrev }})</a></li>
    
    {% endfor %}


  </ul>
  {% else %}
  <p>No players are available to view.</p>
  {% endif %}

  <p>page count: {{ team_list.count }}</p>
</article>

{% endblock content %}
