{% extends 'allstars/base.html' %}


{% block content %}
  {% if user.is_authenticated %}

    <!-- render content here if user is authenticated -->

      <article>
        <header>
          <div class="row">
            <div class="col-sm-11">
              <h2>Professional Basketball - Teams List</h2>
            </div>
          </div>
        </header>

        <p> Select a team below to see their profile. The profile contains a list of years the team was active, with wins, losses, and games played for each year recorded.</p>

        {% include '/Users/beefbeverly/Documents/GitHub/SI664-Final-Project-Mens-Basketball/allstars/allstars/templates/allstars/pagination.html' %} 

        {% if team_list %}
        <ul>

          {% for team in team_list %} 

          <li><a href="{% url 'team_detail' team.team_id %}">{{ team.name }} ({{ team.league__league_abbrev }})</a></li>
          
          {% endfor %}


        </ul>
        {% else %}
        <p>No players are available to view.</p>
        {% endif %}

        <p>page count: {{ team_list.count }}</p>
      </article>


  {% else %}
    <a href="{% url 'login' %}">Log in</a>
  {% endif %}

{% endblock content %}

