{% extends 'allstars/base.html' %}

   {% block content %}

    {% if user.is_authenticated %}

    <!-- render content here if user is authenticated -->
     <header>
       <div class="row">
         <div class="col-sm-10">
           <h2>{{ team_list.name | safe }} ({{ team_list.league__league_name | safe }})</h2>
         </div>
        </div>
     </header>

     <p>Years Active: {{ team_stat_list.count }}</p>

      {% for item in team_stat_list %}


      <p>
        {% if item.year %}
        <div class="row">
          <div class="col-sm-2">
            <p>Year:</p>
          </div>
          <div class="col-sm-10">
            <p><b>{{ item.year }}</b></p>
          </div>
        </div>
        {% endif %}

        {% if item.home_won %}
        <div class="row">
          <div class="col-sm-2">
            <p>Home Won:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ item.home_won }}</p>
          </div>
        </div>
        {% endif %}

        {% if item.home_lost %}
        <div class="row">
          <div class="col-sm-2">
            <p>Home Lost:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ item.home_lost }}</p>
          </div>
        </div>
        {% endif %}

        {% if item.away_won %}
        <div class="row">
          <div class="col-sm-2">
            <p>Away Won:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ item.away_won }}</p>
          </div>
        </div>
        {% endif %}

        {% if item.away_lost %}
        <div class="row">
          <div class="col-sm-2">
            <p>Away Lost:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ item.away_lost }}</p>
          </div>
        </div>
        {% endif %}

        {% if item.neut_won %}
        <div class="row">
          <div class="col-sm-2">
            <p>Neut Won:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ item.neut_won }}</p>
          </div>
        </div>
        {% endif %}

        {% if item.neut_lost %}
        <div class="row">
          <div class="col-sm-2">
            <p>Neut Lost:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ item.neut_lost }}</p>
          </div>
        </div>
        {% endif %}

        {% if item.won %}
        <div class="row">
          <div class="col-sm-2">
            <p>Total Won:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ item.won }}</p>
          </div>
        </div>
        {% endif %}

        {% if item.lost %}
        <div class="row">
          <div class="col-sm-2">
            <p>Total Lost:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ item.lost }}</p>
          </div>
        </div>
        {% endif %}

        {% if item.games %}
        <div class="row">
          <div class="col-sm-2">
            <p>Games Played:</p>
          </div>
          <div class="col-sm-10">
            <p>{{ item.games }}</p>
          </div>
        </div>
        {% endif %}

      {% endfor %}

      {% else %}
    <a href="{% url 'login' %}">Log in</a>
  {% endif %}

    {% endblock content %}