#ignore the config file
all_stars.yaml

#ignore virtual env directory 
venv_as/

#ds store
/.DS_store
.DS_store

#secret settings/keys, etc
allstars/mysite/settings_secret.py
allstars/mysite/secret.py